main,
.pai,
.pai2 .ojogo {
    flex-wrap: wrap;
}

input {
    width: 350px;
    height: 42px;
}

select {
    width: 350px;
    height: 42px;
}

button {
    width: 350px;
    height: 42px;
}

 


@media(max-width:800px) {

    .pai2,
    main .pai {
        width: 744px;
        flex-direction: column;
        align-items: center;

    }
     


}